:root {
  font-family: sans-serif;
  color: #191f28;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (min-width: 481px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f2f4f6 !important;
  }
}
